@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mixins;

.about {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about__image {
	margin: 0;
	width: 100%;
	
	img {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
	}
}

.about__content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.about__text {
	margin: 0;
	font-size: var(--sm);
	line-height: 1.5;
	padding: 0.5rem 0.25rem;
	color: var(--text-body-light);
}

.about__credits {
	margin: 0;
	padding-right:0.5rem;
	font-size: var(--sm);
	color: var(--text-body-light);
	text-align: right;
}
