// main.scss - Simplified approach (inline responsive rules)

// ALL @use rules must come at the very beginning
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'components/atoms';
@use 'base/reset';
@use 'base/typography';
@use 'base/base';
@use 'layout/header';
@use 'layout/about';
@use 'layout/layout';
@use 'components/conversation-display';
@use 'components/conversation-list';
@use 'components/status-indicator';
@use 'components/conversation-detail';
@use 'components/message-thread';
@use 'components/navigation-fab';
@use 'base/utilities';


// Utilities - Helper classes
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// Responsive: split-panel via mixin
@include split-panel-responsive(md);
@include split-panel-responsive(sm);