// main.scss - Simplified approach (inline responsive rules)

// ALL @use rules must come at the very beginning
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'components/atoms';
@use 'base/reset';
@use 'base/typography';
@use 'base/base';
@use 'layout/header';
@use 'layout/about';
@use 'layout/layout';
@use 'base/utilities';
@use 'components/molecules';
@use 'components/organisms';
@use 'layout/main-wrapper';


// Utilities - Helper classes
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
button {
  border: none;
  padding: 0;
}