/* Error: Undefined variable.
 *    ,
 * 69 |     font-family: $font-family-mono;
 *    |                  ^^^^^^^^^^^^^^^^^
 *    '
 *   src/styles/layout/_header.scss 69:18  @use
 *   src/styles/main.scss 10:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 69 \2502      font-family: $font-family-mono;\a    \2502                   ^^^^^^^^^^^^^^^^^\a    \2575 \a   src/styles/layout/_header.scss 69:18  @use\a   src/styles/main.scss 10:1             root stylesheet";
}
