// base/_typography.scss - Typography foundation (Modern syntax)

@use 'sass:map';
@use '../abstracts/variables' as *;

body {
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--text-body-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}